@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./general.css";

@layer base {
  :root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
  }

  label {
    @apply font-serif text-lg;
  }

  input[type="range"] {
    -webkit-appearance: none;
    @apply bg-purple-dark outline-none h-px;
  }

  input[type="range"]::-webkit-slider-thumb,
  input[type="range"]::-moz-range-thumb {
    @apply bg-purple border-none rounded-full h-6 w-6 cursor-pointer;
  }
}

@layer components {
  .animate-on .animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animate-off .animate {
    @apply opacity-0;
  }

  .grid-container {
    @apply flex flex-col lg:grid;
    grid-template-columns: 225px 50px 50px 50px auto;
    grid-template-rows: 100px 50px 50px 50px auto 50px auto auto 50px;
    gap: 0px 0px;
  }

  .grid-item-first {
    @apply h-24 my-3 lg:h-auto lg:m-0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .grid-item-first-options {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-item-strength {
    @apply my-3 lg:m-0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .grid-item-strength-label {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .grid-item-next {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .grid-item-next-options {
    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .grid-item-refresh {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .pw-radio-style {
    @apply mb-4 flex cursor-pointer;
  }

  .pw-radio-style input {
    @apply hidden;
  }

  .pw-radio-style input + div span {
    @apply flex items-center relative;
  }

  .pw-radio-style input + div span:before {
    @apply bg-pink-dark mr-3 inline-block rounded-full;
    content: "";
    width: 25px;
    height: 25px;
  }

  .pw-radio-style input:checked + div span:before {
    @apply bg-purple;
  }

  .pw-radio-style input:checked + div span:after {
    @apply bg-white absolute rounded-full;
    content: "";
    height: 9px;
    width: 9px;
    left: 8px;
  }

  .pw-checkbox-style {
    @apply mb-4 flex cursor-pointer;
  }

  .pw-checkbox-style input {
    @apply hidden;
  }

  .pw-checkbox-style input + div span {
    @apply flex items-center relative;
  }

  .pw-checkbox-style input + div span:before {
    @apply bg-pink-dark mr-3 inline-block;
    content: "";
    width: 25px;
    height: 25px;
  }

  .pw-checkbox-style input:checked + div span:before {
    @apply bg-purple;
    background-image: url("/images/checkmark.svg");
  }

  .pw-separator-type input + div {
    @apply bg-pink-dark;
  }

  .pw-separator-type input:checked + div {
    @apply bg-purple;
  }

  .pw-regenerate:hover .transform {
    @apply -rotate-45;
  }
}

@layer utilities {
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInRight {
    animation-name: fadeInRight;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInLeft {
    animation-name: fadeInLeft;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInUp {
    animation-name: fadeInUp;
  }

  @keyframes fadeOutRight {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  .fadeOutRight {
    animation-name: fadeOutRight;
  }

  @keyframes fadeOutLeft {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }

  .fadeOutLeft {
    animation-name: fadeOutLeft;
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

  .fadeOutDown {
    animation-name: fadeOutDown;
  }
}
