<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Password Generator", suffix: " · Phoenix Framework" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="min-h-screen bg-purple">
    <div class="">
      <header class="p-8">
        <section class="container">
          <h1>
            <span class="text-lime font-black uppercase">Phoenix</span>
            <span class="block font-serif text-4xl text-white">Password Generator</span>
          </h1>
        </section>
      </header>
      <%= @inner_content %>
    </div>
  </body>
</html>
